*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #0d3b61;
}
a:hover{
    color: blue;
}
body{
    height: 950px;
    background-image: url(../images/travel2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.header{
    width: 1050px;
    height: 50px;
    position: fixed;
    top: 3%;
    left: 11%;
    background-color: #ecf3f8;
    border: none;
    border-radius: 10px;
    opacity: 0.7;
}
.header img{
    width: 200px;
    margin-top: -74px;
    float: left;
    cursor: pointer;
}
.list{
    list-style: none;
    float: right;
    padding-right: 30px;
    padding-top: 13px;
    font-style: oblique;
}
.list li{
    font-size: larger;
    font-weight: 800;
    display: inline-block;
    margin-left: 15px;
}
.div1{
    width: 330px;
    height: 495px;
    background-color: #d8e1e7;
    margin-top: 100px;
    margin-left: 148px;
    border-radius: 10px;
    float: left;
}
.div2{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-image: url(../images/destination.jpg);
    background-size: 100% 100%;
    margin: auto; 
    margin-top: 10px; 
}
.h3{
    padding-left: 45px;
    font-weight: 900;
    color: #0d3b61;
    font-style: oblique;
}
.h3::selection{
    background-color: #e2d394;
}
.p1{
    color: #145d99;
    padding-left: 12px;
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 20px;
    text-transform: capitalize;
    font-style: oblique;
    font-size: 16px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif;
}
.p1::selection{
    background-color: #e2d394;
}
mark{
    background-color: #259bfc;
    color:  #124e80;;
}
.btn1{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    margin: 1px 75px;
    background-color: #124e80;
    color: white;
}
.btn1:hover{
    background-color: #b98d36;
}
.p2{
    font-style: oblique;
    font-size: 16px;
    font-weight: bold;
}
.div3{
    width: 330px;
    height: 495px;
    background-color: #d8e1e7;
    margin-top: 100px;
    margin-left: 30px;
    border-radius: 10px;
    float: left;
}
.div4{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-image: url(../images/tour\ packages.jpg);
    background-size: 100% 100%;
    margin: auto; 
    margin-top: 10px;
}
.h4{
    padding-left: 100px;
    font-weight: 900;
    color: #0d3b61;
    font-style: oblique;
}
.h4::selection{
    background-color: #e2d394;
}
.p3{
    padding-left: 10px;
    color: #145d99;
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 20px;
    text-transform: capitalize;
    font-style: oblique;
    font-size: 16px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif;
}
.p3::selection{
    background-color: #e2d394;
}
.btn2{
    width: 150px;
    height: 40px;
    margin: -39px 85px ;
    border-radius: 10px;
    cursor: pointer;
    background-color: #124e80;
    color: white;
}
.btn2:hover{
    background-color: #b98d36;
}
.p4{
    font-style: oblique;
    font-size: 16px;
    font-weight: bold;
}
.div5{
    width: 330px;
    height: 495px;
    background-color: #d8e1e7;
    margin-top: 100px;
    margin-left: 30px;
    border-radius: 10px;
    float: left;
}
.div6{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-image: url(../images/hotel\ booking.jpg);
    background-size: 100% 100%;
    margin: auto; 
    margin-top: 10px;
}
.h5{
    padding-left: 100px;
    font-weight: 900;
    color: #0d3b61;
    font-style: oblique;
}
.h5::selection{
    background-color: #e2d394;
}
.p5{
    padding-left: 10px;
    color: #145d99;
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 20px;
    text-transform: capitalize;
    text-decoration: overline;
    font-style: oblique;
    font-size: 16px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif;
}
.p5::selection{
    background-color: #e2d394;
}
.btn3{
    width: 150px;
    height: 40px;
    margin: -39px 85px ;
    border-radius: 10px;
    cursor: pointer;
    background-color: #124e80;
    color: white;
}
.btn3:hover{
    background-color: #b98d36;
}
.p6{
    font-style: oblique;
    font-size: 16px;
    font-weight: bold;
}




